<!doctype>
<html>
    <head>
        <meta charset="utf-8">
        <title>后台登录</title>
            <!-- 最新 Bootstrap 核心 CSS 文件 -->
            <link rel="stylesheet" href="Public/bootstrap/css/bootstrap.min.css">
            <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
            <script src="Public/bootstrap/js/jquery.min.js"></script>
            <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
            <script src="Public/bootstrap/js/bootstrap.min.js"></script>
            <style>
                #row {
                    margin-top: 20px;                    
                }
                #table {
                    font-size: 12px;
                }
            </style>
    </head>
    
    <body>
        <div class="container">
            <div class="row" id="row">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>权限名称</th>
                        <th>所有权限</th>
                        <th>操作</th>
                    </tr>
					<?php foreach($rows as $key=>$row):?>
                    <tr>
                        <td><?php echo $row['group_id'];?></td>    
                        <td><?php echo $row['group_name'];?></td>    
                        <td><?php 
							$grop_wegit = explode(' ',$row['group_wegit']);
							foreach($grop_wegit as $value){
							if(array_key_exists ($value,$GLOBALS['config']['Admin']['group_wegit'])){
								echo $GLOBALS['config']['Admin']['group_wegit'][$value].' ';}
							}?></td>    
                        <td>
                            <button class="btn btn-default" data-toggle="modal" data-target="#myModal<?php echo $key;?>">修改</button>
							         <!-- Modal -->
		<div class="modal fade" id="myModal<?php echo $key;?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
                        <h4>权限修改</h4>
					</div>
					<div class="modal-body">
<form class="form-horizontal" role="form" method="post" action="index.php?p=Admin&c=System&a=update_group">
	<input type="hidden" name='group_id' value="<?php echo @$row['group_id'];?>"/>
      <div class="form-group">
    <label for="inputgroup" class="col-md-2 control-label">组名</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="inputgroup" placeholder="输入组名" name="group_name" value="<?php echo $row['group_name'];?>">
    </div>
  </div>
    <div class="form-group">
        <label for="inputgroup" class="col-md-2 control-label">选择权限</label>
        <div class="col-md-6">
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="A" <?php if(in_array('A',$grop_wegit)){echo "checked";}?> name='group_wegit[]'> 添加影片
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="B" <?php if(in_array('B',$grop_wegit)){echo "checked";}?> name='group_wegit[]'> 删除影片
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="C" <?php if(in_array('C',$grop_wegit)){echo "checked";}?>  name='group_wegit[]'> 修改影片
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="D" <?php if(in_array('D',$grop_wegit)){echo "checked";}?>  name='group_wegit[]'> 添加分类
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="E" <?php if(in_array('E',$grop_wegit)){echo "checked";}?>  name='group_wegit[]'> 修改分类
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="F" <?php if(in_array('F',$grop_wegit)){echo "checked";}?>  name='group_wegit[]'> 删除分类
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="G" <?php if(in_array('G',$grop_wegit)){echo "checked";}?>  name='group_wegit[]'> 权限设置
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="H" <?php if(in_array('H',$grop_wegit)){echo "checked";}?>  name='group_wegit[]'> 查看管理员
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="I" <?php if(in_array('I',$grop_wegit)){echo "checked";}?>  name='group_wegit[]'> 添加管理员
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="J" <?php if(in_array('J',$grop_wegit)){echo "checked";}?>  name='group_wegit[]'> 修改管理员
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="K" <?php if(in_array('K',$grop_wegit)){echo "checked";}?>  name='group_wegit[]'> 删除管理员
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="L" <?php if(in_array('L',$grop_wegit)){echo "checked";}?>  name='group_wegit[]'> 用户组权限设置
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="M" <?php if(in_array('M',$grop_wegit)){echo "checked";}?>  name='group_wegit[]'> 查看注册用户
            </label>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-2"></div>
                <button class="btn btn-default" type="submit">确定</button>
        </div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
							<a class="btn btn-default" href="index.php?p=Admin&c=System&a=remove_group&id=<?php echo $row['group_id'];?>">删除</a>
                        </td>    
                    </tr>
					<?php endForeach;?>
                </table>
            </div>
        </div>
    </body>
